
@{
    ViewBag.Title = "Zone";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SNOS_Report.Database.Mac_Spec> lineinfor = ViewBag.linelist;
    List<SNOS_Report.Database.Log_Work> datalist = ViewBag.datalist;
    int day = (int)ViewBag.day;
    string linename = "";
    string gettimeformat(int secs)
    {
        TimeSpan t = TimeSpan.FromSeconds(secs);

        string answer = string.Format("{0:D2}h {1:D2}m {2:D2}s",
                        t.Hours,
                        t.Minutes,
                        t.Seconds,
                        t.Milliseconds);
        return answer;
    }
}

<main class="content">
    <div class="container-fluid p-0">

        <div class="mb-3">
            <h1 class="h3 d-inline align-middle">Orders</h1>
        </div>

        <div class="card">
            <div class="card-header pb-0">
                <div class="card-actions">
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label class="form-label">Start Date</label>
                            <input type="date" class="form-control" id="start" name="start" value="@ViewBag.start.ToString("yyyy-MM-dd")" min="2015-01-01" max="2100-12-31">
                        </div>
                        <div class="mb-3 col-md-4">
                            <label class="form-label">End Date</label>
                            <input type="date" class="form-control" id="end" name="end" value="@ViewBag.end.ToString("yyyy-MM-dd")" min="2015-01-01" max="2100-12-31">
                        </div>
                        <div class="mb-3 col-md-2">
                            <label class="form-label">Line</label>
                            <select class="form-select" aria-label="Default select example" id="line" onchange="changeline()">
                                @{
                                    int ct = 1;
                                    foreach (var x in lineinfor)
                                    {
                                        if (x.Line_No == ViewBag.Line)
                                        {
                                            <option selected value="@x.Line_No">@x.Line_Name</option>
                                            linename = x.Line_Name;

                                        }
                                        else
                                        {
                                            <option value="@x.Line_No">@x.Line_Name</option>

                                        }
                                    }


                                }
                            </select>
                        </div>
                        <div class="mb-3 col-md-2">
                            <label class="form-label">Search</label>
                            <button type="button" class="btn btn-primary form-control" onclick="searchclick();"><i class="fas fa-search"></i> Search</button>
                        </div>


                    </div>
                </div>

            </div>
            <div class="card-body">
                <br>
                <!--PC-->
                <section id="PC" style="display:inherit">
                    <button type="button" class="btn btn-primary" onclick="tomobile();"><i class="fas fa-mobile-alt"></i> To Mobile Mode</button>
                    @if (day > 0)
                    {


                        for (int lday = 0; lday < day; lday++)
                        {
                            DateTime nowtime = DateTime.Now;
                            DateTime lastdatatime = DateTime.Now;
                            DateTime start = ViewBag.start;
                            start = start.AddDays(lday);
                            DateTime end = start.AddDays(1).AddSeconds(-1);
                            <br>
                            <h2>Day @(lday+1) : @start.ToString("dd/MM/yyyy")</h2>
                            <div>
                                <table id="Tabledata" width="100%" class="table-bordered">
                                    <thead>

                                        <tr>
                                            <th scope="col">↓H →M</th>
                                            @{
                                                for (int i = 0; i < 60; i++)
                                                {
                                                    if (i < 10)
                                                    {
                                                        <th scope="col">@Html.Raw("0" + i)</th>
                                                    }
                                                    else
                                                    {
                                                        <th scope="col">@i</th>
                                                    }
                                                }
                                            }
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @{
                                            int laststatus = datalist.Count == 0 ? 0 : 2;
                                            for (int i = 0; i < 24; i++)
                                            {

                                                var dstart = start.AddHours((i));
                                                <tr>
                                                    <td>@i</td>
                                                    @{

                                                        for (int j = 0; j <= 59; j++)
                                                        {
                                                            var item = datalist.Find(ta => ta.GET_TIME >= dstart.AddMinutes(j) && ta.GET_TIME <= dstart.AddMinutes(j + 1).AddSeconds(-1));
                                                            if (item != null)
                                                            {
                                                                laststatus = item.LINE_STATUS;
                                                                if (item.GET_TIME > nowtime)
                                                                {
                                                                    laststatus = 0;
                                                                }
                                                            }
                                                            else if (datalist.Count == 0)
                                                            {
                                                                laststatus = 0;
                                                            }
                                                            else { laststatus = 2; }
                                                            if (dstart.AddMinutes(j) >= lastdatatime)
                                                            {
                                                                laststatus = 0;
                                                            }
                                                            switch (laststatus)
                                                            {
                                                                case 0:
                                                                    <td style="background-color: #FFFFFF;padding:0px;"></td>
                                                                    ;
                                                                    break;
                                                                case 2:
                                                                    <td style="background-color: #CCCCCC; padding: 0px;"></td>
                                                                    ;
                                                                    break;
                                                                case 4:
                                                                    <td style="background-color: #008000; padding: 0px;"></td>
                                                                    ;
                                                                    break;
                                                                case 8:
                                                                    <td style="background-color: #FFCC00; padding: 0px;"></td>
                                                                    ;
                                                                    break;
                                                                case 16:
                                                                    <td style="background-color: #FF0000; padding: 0px;"></td>
                                                                    ;
                                                                    break;
                                                            }
                                                        }
                                                    }
                                                </tr>
                                                if (i < 23)
                                                {
                                                    <tr>
                                                        <td style="padding:2px;"></td>
                                                        @for (int j = 0; j <= 59; j++)
                                                        {
                                                            <td style="background-color: #FFFFFF;padding:0px;"></td>
                                                        }
                                                    </tr>
                                                }
                                            }

                                        }
                                    </tbody>
                                </table>
                            </div>
                        }

                    }

                </section>
                <!--Mobile-->
                <section id="mobile" style="display:none">
                    <button type="button" class="btn btn-primary" onclick="toPC();"> <i class="fas fa-tv"></i> To PC Mode</button>
                    @if (day > 0)
                    {
                        for (int lday = 0; lday < day; lday++)
                        {
                            DateTime nowtime = DateTime.Now;
                            DateTime lastdatatime = DateTime.Now;
                            DateTime start = ViewBag.start;
                            start = start.AddDays(lday);
                            DateTime end = start.AddDays(1).AddSeconds(-1);
                            <br>
                            <h2>Day @(lday+1) : @start.ToString("dd/MM/yyyy")</h2>
                            <div>
                                <div class="table-responsive">
                                    <table class="table table-hover table-responsive table-bordered">
                                        <thead>

                                            <tr>
                                                <th scope="col">↓H →M</th>
                                                @{
                                                    for (int i = 0; i < 60; i++)
                                                    {
                                                        if (i < 10)
                                                        {
                                                            <th scope="col">@Html.Raw("0" + i)</th>
                                                        }
                                                        else
                                                        {
                                                            <th scope="col">@i</th>
                                                        }
                                                    }
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                int laststatus = datalist.Count == 0 ? 0 : 2;
                                                for (int i = 0; i < 24; i++)
                                                {

                                                    var dstart = start.AddHours((i));
                                                    <tr>
                                                        <td>@i</td>
                                                        @{

                                                            for (int j = 0; j <= 59; j++)
                                                            {
                                                                var item = datalist.Find(ta => ta.GET_TIME >= dstart.AddMinutes(j) && ta.GET_TIME <= dstart.AddMinutes(j + 1).AddSeconds(-1));
                                                                if (item != null)
                                                                {
                                                                    laststatus = item.LINE_STATUS;
                                                                    if (item.GET_TIME > nowtime)
                                                                    {
                                                                        laststatus = 0;
                                                                    }
                                                                }
                                                                else if (datalist.Count == 0)
                                                                {
                                                                    laststatus = 0;
                                                                }
                                                                if (dstart.AddMinutes(j) >= lastdatatime)
                                                                {
                                                                    laststatus = 0;
                                                                }
                                                                switch (laststatus)
                                                                {
                                                                    case 0:
                                                                        <td style="background-color: #FFFFFF;padding:0px;"></td>
                                                                        ;
                                                                        break;
                                                                    case 2:
                                                                        <td style="background-color: #CCCCCC; padding: 0px;"></td>
                                                                        ;
                                                                        break;
                                                                    case 4:
                                                                        <td style="background-color: #008000; padding: 0px;"></td>
                                                                        ;
                                                                        break;
                                                                    case 8:
                                                                        <td style="background-color: #FFCC00; padding: 0px;"></td>
                                                                        ;
                                                                        break;
                                                                    case 16:
                                                                        <td style="background-color: #FF0000; padding: 0px;"></td>
                                                                        ;
                                                                        break;
                                                                }
                                                            }
                                                        }
                                                    </tr>
                                                    if (i < 23)
                                                    {
                                                        <tr>
                                                            <td style="padding:2px;"></td>
                                                            @for (int j = 0; j <= 59; j++)
                                                            {
                                                                <td style="background-color: #FFFFFF;padding:0px;"></td>
                                                            }
                                                        </tr>
                                                    }
                                                }

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                    }

                </section>
            </div>
        </div>
    </div>
</main>

<script>

    document.getElementById("li_Zone").classList.add("active")
    //Dropdown li
    document.getElementById("li_Timechart").classList.add("active");
    document.getElementById("Timechart-a").classList.remove("collapsed");
    document.getElementById("Timechart").classList.add("show");

    function searchclick() {

        var line = document.getElementById("line").value;
        var start = document.getElementById("start").value;
        var end = document.getElementById("end").value;
        window.location.replace("../TimeChart/Zone?Start=" + start + "&end=" + end + "&line=" + line);
    }
    function tomobile() {
        document.getElementById("mobile").style = "display:inherit";
        document.getElementById("PC").style = "display:none";
    }
    function toPC() {
        document.getElementById("mobile").style = "display:none";
        document.getElementById("PC").style = "display:inherit";
    }
</script>